@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
}

.App {
  background-color: rgb(40, 51, 68);
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("./ios-linen.jpg");
  color: white;
  font-family: "Catamaran", sans-serif;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 2rem;
  animation: fadeIn 1s;
}

.budgetAmount {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  border: 2px solid white;
  border-radius: 1rem;
  width: fit-content;
  margin: 5px auto;
  padding: 0px 15px;
  border-color: rgb(3, 167, 167);
}

.formWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 23rem;
  margin: 2rem auto;
}

.formWrapper label {
  font-size: 2rem;
  font-weight: 200;
}

.formWrapper input {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  font-weight: 200;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0px 11px;
  outline: none;
  width: 6rem;
  margin: 1rem auto;
  text-align: center;
  font-family: "Catamaran", sans-serif;
}

.formWrapper button {
  background-color: transparent;
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 8px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.formWrapper button:hover {
  color: rgba(255, 255, 255, 0.15);
}

.editBudgetFormWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 23rem;
  margin: auto;
}

.editBudgetFormWrapper input {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  font-weight: 200;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0px 11px;
  outline: none;
  width: 6rem;
  margin: 1rem auto;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  border-color: rgb(3, 167, 167);
}

.editBudgetFormWrapper button {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.7rem;
  font-weight: 200;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  outline: none;
  padding: 0px 10px;
  width: fit-content;
  cursor: pointer;
  font-family: "Catamaran", sans-serif;
  margin-bottom: 1rem;
}

.editBudgetFormWrapper p {
  font-size: 1.2rem;
}

.buttonUI {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.7rem;
  font-weight: 200;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  outline: none;
  padding: 0px 10px;
  width: fit-content;
  cursor: pointer;
}

.buttonUI:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  width: 21rem;
  margin: auto;
}

.addExpenseWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addExpenseWrapper input {
  color: white;
  background-color: transparent;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.582);
  margin: 12px;
}

.addExpenseWrapper button {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.582);
  border: none;
  outline: none;
  padding: 0px 20px;
  cursor: pointer;
}

.addExpenseWrapper p {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.582);
  cursor: pointer;
}

.addExpenseWrapper p:hover {
  color: rgb(151, 151, 151);
}

.priceWrapper {
  width: 8rem;
}

.itemsContainer {
  text-align: center;
  width: 20rem;
  margin: auto;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  font-weight: 200;
}

.itemWrapper p {
  margin: 5px;
}

.cancelSubmitWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  margin: auto;
}

.cancelSubmitWrapper button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.cancelSubmitWrapper p {
  cursor: pointer;
}

.cancelSubmitWrapper p:hover {
  color: rgb(221, 221, 221);
}

.resetButton {
  color: white;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 200;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
  margin: 5px;
}

.resetButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

@media only screen and (max-width: 600px) {
  .addExpenseWrapper input {
    font-size: 1.1rem;
  }
}

.buttonContainer {
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
